@media screen and (max-width: 760px) {
    header ul {
        flex-direction: column;
        
    }

    header {
        padding: 0;
        align-items: flex-start;
    }

    .efeito li {
        font-size: 15px;
    }

    ul {
        text-align: justify;
        margin: 0;
        padding: 0;
    }

    button {
        display: flex;
    }
    
    li, ul {
        width: 100%;
    }

    h1 {
        margin: 10px;
    }
}