html {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif
}
/*--------------------------------------------- Cabeçalho -----------------------------------------*/
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #ff4e0d;
    height: 100px;
    
}

/****************************** Titulo ******************/

h1 {
    font-size: 2.5rem;
    /* flex-direction: column; */
    padding: 0px 0px 0px 70px;
    color: white;
}

h1:hover,
button:hover {
    color: black;
    transition: 0.03;
}


/************************** Menu **************************/

button {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 36px;
    position: absolute;
    right: 10px;
    top: 10px;
    display: none;
}


/*.menu .menu-faketrigger {
    position: absolute;
    z-index: 1000;
    width: 35px;
    height: 35px;
    opacity: 0;
    cursor: pointer;
}

.menu .menu-lines {
    position: absolute;
    z-index: 999;
    width: 35px;
    height: 35px;
}

.menu .menu-lines span {
    display: block;
    width: 35px;
    height: 5px;
    margin-bottom: 10px;
    background-color: #cdcdcd;
    border-radius: 3px;
    transition: all ease .2s;
}



.menu .menu-faketrigger:checked~ .menu-lines span {
    background-color: #232323;

}

.menu .menu-faketrigger:checked~ .menu-lines span:nth-child(1) {
    transform-origin: 0% 0%;
    transform: rotate(45deg) scaleX(1.25);
}

.menu .menu-faketrigger:checked~ .menu-lines span:nth-child(2) {
    opacity: 0;
}

.menu .menu-faketrigger:checked~ .menu-lines span:nth-child(3) {
    transform-origin: 0% 100%;
    transform: rotate(-45deg) scaleX(1.25);
}

.menu ul {
    position: absolute;
    z-index: 998;
    right: 0;
    top: 0;
    width: 300px;
    height: calc(400px - 100px);
    padding: 100px;
    background-color: #ff4e0d;
}
*/




/***************** Links no Top-Bar  *********************/

.efeito:hover{
    color: black;
    transition: 0.03 all;
    cursor: pointer;
}

.linkTop {
    font-size: 20px;
}

a {
    color: white;
}

/***************** Link Cauã Contato *********************/
.CauaCont {
    padding: 0px 70px 0px 0px;
}


/* ------------------------------------ Página Principal ----------------------------------------*/

section {
    display: flex;
    flex-direction: row;
    height: 318px;
}
.section1 {
    /* padding-top: 50px; */
    background-color: rgb(15, 14, 14);
    align-items: center;
    margin: 0px;
    color: white;
}

/*********************** Content Image ****************/
.imagen {
    padding: 30px 40px 30px 250px;
}
.foto {
    height: 250px;
    width: 250px;
    border-radius: 80%;
}

/*********************** Content Sobre min ********************/

aside{
    margin-left: 30px;
}

p {
    text-align: left;
    line-height: 1.3;
    margin-top: 20px;
    max-width: 600px;
}

h2 {
    font-size: 2.0rem;
}

/******************************************* Section2 **********************************/
.section2 {
    justify-content: space-between;
    /* align-items: center; */
}

.hobbies {
    background-color: rgba(235, 235, 235, 0.863);
    width: 50%;
    
}

.top-hobbies {
    margin-left: 535px;
    margin-top: 50px;
    margin-bottom: 40px;
}

li {
    display: inline-block;
    margin: 10px;
}

.list {
    display: flex;
    
}

.livro{
    margin-left: 55px;
}

.list 
li {

    height: 150px;
    width: 102px;
    background: rgba(0, 0, 0, 0.623);
    display: flex;
    align-items: flex-end;
    position: relative;
    color: white;
    text-align: center;
    padding-bottom: 20px;
}

.list 
span {
    position: absolute;
    top: 0px;
    left: 10px;
    padding: 10px 5px; 
    background-color: rgba(0, 0, 0, 0.74);
    
}


.top {
    width: 50%;
    background-color: rgb(243, 243, 243);
}

.top-filme {
    margin-left: 30px;
    margin-top: 50px;
    margin-bottom: 40px;
}

.top-familia {
    margin-left: 30px;
}

/*-------------------------------------------- Rodapé -------------------------------------------*/

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ff5819;
    align-items: center;
    height: 70px;
}

.redes-socias {
    padding: 0px 0px 0px 70px;
}

img {
    width: 30px;
}

form {
    padding: 0px 70px 0px 0px;
}

#contato {
    border: 2px solid black;
    padding: 10px 10px;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 80px;
}

#contato:hover{
    background-color: black;
    color: white;
}

/* input {
    color: black;
    background-color: white;
    font-weight: bold;
    padding: 10px 10px;
    border-radius: 9px;
    
} */